<h2>Your System Status</h2>
<h3>Processes running : <%= @time %></h3>
<pre><%= @ps %></pre>

<p>PID : It is called a process identifier. A PID is a unique number that identifies each of the running processes in an operating system, such as Linux, Unix, macOS, and Microsoft Windows.</p>